__pycache__/
*.pyc

# Output directories (examples)
examples/*/output*/
examples/*/tmp/
examples/*/2.tmp.ipynb
examples/env_sif/
examples/data/*.bigwig
examples/data/*expression.csv

# Python egg info
chrombert_tools.egg-info/
chrombert_hf/chrombert*
chrombert_hf/*.ipynb
chrombert_hf/tmp
chrombert_hf/dataset_*
chrombert_tools_old/*
examples_old/*
examples/data/myoblast_ENCFF*
examples/data/HFF_atac_*
examples/data/hESC_atac_*
examples/api/hESC*
examples/api/HFF*
examples/api/interpretation_important_factor_effect_ezh2*
examples/api/max*
examples/api/tmp_tmp